
html, body{
	height: 100%;
	width:100%;
}

.navbar{
	background-color: #1e3d58;
	padding: 1% 0;
	font-size: 18px;
}

.navbar-brand{
	min-height: 55px;
	padding: 0 15px 5px;
}


.navbar-default .navbar-nav li a{
	color: #e8eef1;
}

.navbar-default .navbar-nav li a:hover, .navbar-default .navbar-nav li a:active{
	color: #FFF;
}






#home{
	background-color:#e8eef1 ;
	display: table;
	height:100%;
	position: relative;
	width: 100%;
	background-size: cover;
}

.landing-text{
	display: table-cell;
	text-align: center;
	vertical-align:middle;
}

.landing-text h1{
    font-size: 500%;
	font-weight: 100%;
	color:#1e3d58
}

.info-text{
	text-align:left;
	color:#1e3d58;

}

.info-text a{
    
	font-weight: 100%;
    font-size:350%;
    color:#1e3d58
}



.dropdown-menu a{
		color:#1e3d58;
	
}


footer {
	width: 100%;
	background-color:#1e3d58 ;
	padding: 5% 5% 10% 5%;
	color: #e8eef1;
}

.fa {
	padding: 15px;
	font-size: 25px;
	color: #e8eef1;
}

.fa:hover {
	color: #FFF;
	text-decoration: none;
}

.icon{
	max-width: 250px;
}

